body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

.container {
    padding-top: 50pt;

}
h1 {
    font-weight:bold;
}

button {
    color: white;
    background-color:purple;
    width: 10%;
    border-radius: 12px;
    padding: 20px;
    font-size: 15px;
    text-align: center;
    
}
section.card {
    display: none;
}

section.submission {
    display: none;

}
section.scores {
    display: none;
}


